@font-face {
    font-family: "IM FELL DW Pica PRO";
    src: url('../static/fonts/FePIrm27C.otf');
}

@font-face {
    font-family: "DroidSerif";
    src: url('../static/fonts/DroidSerif-Regular.ttf');
}

body {
    --font-serif: "DroidSerif", "Amiri", serif;
}

.crucible {
    --font-quote: "IM FELL DW Pica PRO", "CaslonAntique", serif;
}

.crucible .line-item .title h1,
.crucible .line-item .title h2,
.crucible .line-item .title h3,
.crucible .line-item .title h4 {
    white-space: wrap;
}

.crucible.action-roll .description {
    overflow-y: hidden;
}
